[submodule "libs/lvtk"]
	path = libs/lvtk
	url = https://github.com/lvtk/lvtk.git
	branch = master
[submodule "libs/lv2"]
	path = libs/lv2
	url = https://github.com/drobilla/lv2.git
	branch = master
[submodule "libs/kv"]
	path = libs/kv
	url = https://github.com/kushview/kv-modules
[submodule "libs/juce"]
	path = libs/juce
	url = https://github.com/WeAreRoli/JUCE
