tools/installer/qt-ifw/packages/com.bketech.KSP1/data/*
tools/installer/qt-ifw/packages/com.bketech.BTV/data/*
tools/installer/qt-ifw/repo
jucer/JuceLibraryCode/ReadMe.txt
jucer/JuceLibraryCode/modules
jucer/JuceLibraryCode/include_*
src/sampler/ReferenceCode.h
.lock*
.waf*
.DS_Store
*.pyc
*.wav
jucer/builds
jucer/Builds
jucer/JuceLibraryCode/modules
jucer/JuceLibraryCode/ReadMe.txt
standalone/builds
standalone/Builds
standalone/JuceLibraryCode/modules
standalone/JuceLibraryCode/ReadMe.txt
build/
jucer/Builds/
libs/vstsdk2.4
*.config
*.creator
*.creator.user
*.files
*.includes

content/
testpack/
data/factory/
